* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu{
  position: fixed !important;
  display: grid;
  max-width: auto;
  user-select: none;
  height: 64px;
  margin: 0 auto;
  padding:10px;
  width: 100%;
  background: rgb(3,25,48);
  background: linear-gradient(90deg, rgb(12, 17, 229) 0%, rgb(10, 17, 246) 10%, rgb(15, 60, 241) 29%, rgb(18, 88, 238) 52%, rgba(54,132,219,1) 93%);
  z-index:  10000;
  text-align: center;
  top: 0;
  transition: transform 0.45s ease;
}

/* sơn: thêm chỗ này để ảnh không bị méo */
img{
  object-fit: cover; 
}

.logo h3{
  position: fixed;
  top: 16px;
  left: 0;
  color: white;
  left: 40px;
}
.logo img{
  width: auto;
  height: 64px;
  position: fixed;
  left: 275px;
  top: 0;
  scale: 1.5;
}
.menu-container {
  position: absolute;
  top: 55px;
  left: -100px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  transition: 0.15s linear;
}

.menu-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.menu-child a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.menu-child:hover {
  background-color: #f0f0f0;
}

.menu-child img {
  max-width: 50px;
  height: 50px;
  border-radius: 5px;
}

.menu-child h4 {
  color: #333;
  width: fit-content;
}

.menu-search button{
  display: none;

}

.nav{
  position: fixed;
  display: flex;
  left: 380px;
  align-items: center;
  justify-content: center;
  border:  solid rgba(0, 213, 255, 0.152);
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
  background-color: rgb(253, 145, 4);
  z-index: 1002;

}

.nav:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 2px;
}

.nav:hover .menu-container {
  display: grid; 
  opacity: 1;
  visibility: visible;
  transition: 0.15s linear;
}

.nav span{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav .icon{
  font-size: 18px;
  border-radius: 20%;
  margin-right: 5px;
}

.menu-search {
  min-width: 300px;
  width: 60vw;
  max-width: 40%;
  height: 40px;
  position: fixed;
  background: white;
  border: 2px solid white;
  border-radius: 20px;
  left: 530px;
  top: 12px;
  display: flex;
  align-items: center;
}

.menu-input-search {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1em;
  text-indent: 20px;
}

.menu-search i {
  font-size: 20px;
  color: #999;
  margin-left: 10px; 
}

.menu-search span {
  display: flex;
  align-items: center;
  justify-content: center;
  left: auto; 
  font-size: 20px;
  color: #999;
}

.menu-search span i {
  background: #d8d9db;
  border: solid #d8d9db;
  border-radius: 0 20px 20px 0;
  position: absolute;
  height: 40px;
  width: 60px;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-menu{
  position: absolute;
  display: flex;
  gap: 5px;
  right: 20px;
  list-style: none;
  color: white;
}
.list-menu li{
  height: 50px;
  padding-top: 5px;
}
.list-menu li a{
  color: white;
  font-size: 30px;
  padding: 5px;
  text-decoration: none;
}

.list-menu li:hover{
  background:  rgba(255, 255, 255, 0.201);
  border-radius: 30px;
}
#scrollToTop{
  position: fixed;
  background-color: #fff;
  text-align: center;
  z-index: 10002;
  border-radius: 50%;
  right: 10px;
  bottom: 50px;
}
#scrollToTop a{
  background-color: #ffffff00;
  border: none;
  border-radius: 50%;
  padding: 12px 16px;
  
}
#scrollToTop #btnbg{
  position: absolute;
  font-size: 16px;
  color: #33333300;
  user-select: none;
  scale: 0.3;
}   


#scrollToTop:hover #btnbg{
  background: #ff9900;
  color: #333;
  scale: 1;
  transition: 0.3s ease-in;
  user-select: none;
}

body {
  background: #f2f4f7;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.thing__item--img img{
  width: 100%;
  height:100%;
  object-fit: cover;
}

/* ---------------------------------- Dinh dang lai the ------------------------------------ */

.tagh1 {
  font-weight: 700;
  font-size: 30px;
}

.tagh2 {
  font-weight: 700;
  font-size: 20px;
}

.taga {
  text-decoration: none;
  color: black;
}

ul li {
  color: white;
  list-style-type: none;
}

/* ----------------------------------------------------------------------------------------- */

.cart__layout {
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgba(220, 220, 220, 0.4);
  padding: 10vh 0;
}

.cart__wrapper {
  margin: auto;
  margin-bottom: 15vh;
  max-width: 70vw;
  width: 100%;
  min-height: 50vh;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

/* --------------------------------------  Cac san pham ----------------------------------------- */

.thing__item {
  display: grid;
  grid-template-columns: 1.5fr 8fr 2.5fr;
}

.thing__item--content a {
  font-weight: bolder;
}

.thing__item--img {
  width: 70px;
  height: 70px;
  border-style: groove;
  border-radius: 5px;
  border-width: 1.5px;
  overflow: hidden;
}

.thing__item--price {
  text-align: right;
}

.changenumber {
  display: flex;
  margin-top: 5px;
  justify-content: right;
  text-align: right;
}

.change__button {
  width: 30px;
  height: 30px;
  font-size: larger;
  font-weight: bolder;
  border-radius: 100%;
  background-color: #3684db;
  color: white;
  border-style: none;
  padding: 0;
  margin: 0;
}

.change__button b {
  text-align: center;
  margin: 0;
  padding: 0;
}

.changenumber input {
  width: 30px;
  border-style: none;
  text-align: center;
}

/* ---------------------------------------------------------------------------------------------- */

/* --------------------------------------- Tong ket don hang ---------------------------------------- */

.total {
  display: flex;
}

.total__voucher {
  width: 70em;
}

.total__voucher input {
  width: 300px;
  height: 50px;
  padding: 10px;
  margin: 5px;
  border-radius: 40px;
}

.total__voucher button {
  margin: 5px;
  width: 100px;
  height: 50px;
  text-align: center;
  border-style: none;
  border-radius: 20px;
  color: white;
  background-color: red;
  transition: all 0.3s smooth ease-in;
}

.total__voucher button:hover {
  background-color: rgb(115, 3, 3);
}

.total__price {
  width: 30em;
  padding: auto;
}

/* -------------------------------------------------------------------------------------------------- */

/* --------------------------------------- thanh toan ---------------------------------------- */

.payments {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.button__left {
  width: 50em;
  height: 50px;
  margin: 10px;
  border-style: none;
  border-radius: 20px;
  color: white;
}

.button__right {
  width: 50em;
  height: 50px;
  margin: 10px;
  border-style: none;
  border-radius: 20px;
  color: white;
}

/* ------------------------------------------------------------------------------------------- */

/* --------------------------------------- thong tin khach hang ---------------------------------------- */

.form__item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tagh2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.butsubmit {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

.button__submit {
  width: 30em;
  height: 50px;
}

/* ----------------------------------------------------------------------------------------------------- */

/* --------------------------------------- footer ---------------------------------------- */

#footer-1 {
  min-height: 25vh;
  padding-top: 20px;
  background-color: #223a59;
}

#footer-1 p {
  color: white;
  font-size: 20px;
  text-align: center;
}

.footer__voucher {
  text-align: center;
}

.footer__voucher input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
}

.footer__voucher button {
  height: 50px;
  transform: translateY(3px);
}

/* ----------------------------------------------------------------------------------------------------- */

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 50px;
  background: rgb(3, 25, 48);
  background: linear-gradient(90deg, rgb(12, 17, 229) 0%, rgb(10, 17, 246) 10%, rgb(15, 60, 241) 29%, rgb(18, 88, 238) 52%, rgba(54, 132, 219, 1) 93%);
  color: white;
  border: 1px solid black;
  visibility: visible;
  opacity: 1;
  min-height: 200px;
  height: auto;
  width: auto;
}

.footer-container button {
  pointer-events: none;
}

.footer-container button i {
  visibility: hidden;
  opacity: 0;
}

.footer-container button {
  font-size: 21px;
  background-color: transparent;
  border: none;
  color: yellow;
  font-weight: 600;
  text-shadow: 2px 2px 10px black;
  margin-left: -11px;
  outline: none !important;
  box-shadow: none !important;
}

.footer-container button:focus,
.footer-container button:active {
  outline: none !important;
  box-shadow: none !important;
}

.footer-container button:hover {
  background-color: transparent;
  color: yellow;
  text-shadow: 2px 2px 10px black;
}

.footer-contact, .footer-text, .footer-different, .footer-social {
  flex: 1 1 20%;
  min-width: 150px;
  margin-bottom: 20px;
}

.footer-contact .collapse,
.footer-text .collapse,
.footer-different .collapse {
  display: block;
}

.footer-contact a, .footer-text p, .footer-different p {
  color: whitesmoke;
  text-decoration: none;
}

.footer-container h4 {
  color: yellow;
  text-shadow: 2px 2px 10px black;
}

.footer-contact button, .footer-text button, .footer-different button, .footer-social button {
  margin-bottom: 20px;
  font-weight: 500;
}

.footer-contact h4, .footer-text h4, .footer-different h4, .footer-social h4 {
  margin-bottom: 20px;
  font-weight: 500;
}

.footer-contact a, .footer-text p, .footer-different p, .footer-social p {
  color: whitesmoke;
  text-decoration: none;
  visibility: visible; 
  opacity: 1; 
}

.footer-container p{
  color: white; 
  visibility: visible; 
  opacity: 1; 
}

.footer-contact a:hover, .footer-text p:hover, .footer-different p:hover, .footer-social p:hover {
  color: yellow;
  cursor: pointer;
}

.footer-contact .footer-img, .footer-social .footer-img  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.footer-social .footer-img a{
  margin-top: 10px;
}

.footer-contact .footer-img a img, .footer-social .footer-img a img {
  width: 70px;
}

.footer-img{
  width: auto;
  height: 50px;
  aspect-ratio: 1/1;
}


.footer-bottom {
  background: #F2F4F7;
  border: 1px solid black;
  padding: 20px;
  margin-top: auto;
  width: 100%;
  height: auto;
}

.footer-text, .footer-different {
  text-align: left;
  width: 100%;
}

.footer-bottom .footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 35px;
}

.footer-bottom .footer-text h5:hover {
  color: #2E7EEA;
  cursor: pointer;
}

.footer-social .footer-icon a {
  color: white;
}

.footer-social .footer-icon a i {
  font-size: 30px;
  padding-right: 15px;
}
.footer-social .footer-icon a i:hover{
  color: #0021fc;
}
@media screen and (min-width : 1000px) and (max-width: 1280px) {
  .menu {
      display: flex;
      align-items: center;
      flex-direction: row;
  }
  .logo img{
      width:auto;
      left: 20vw;
  }
  .logo h3{
      left: 0px;
  }
  .nav{
      left: 27vw;
  }
  .menu-container {
      display: grid;
      width: 90vw;
      grid-template-columns: repeat(2, 1fr);
      left: -23vw;
      height: 50vw;
  }
  .menu-child a img {
      width: 200px;
  }
  .menu-search {
      width: 40%;
      left: 40vw;
      top: 12px;
  }
  .menu-search span {
      margin-left: auto; 
  }
  .menu-search span i{
      width: 50px;
      left: auto;
  }
  .list-menu{
      gap: 2px;
      top: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 10px;
  }
  .list-menu li{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      
  }
  .list-menu li:hover{
      background:  rgba(255, 255, 255, 0.201);
      border-radius: 10px;
  }
  .list-menu li span{
      display: none;  
  }
  .list-menu li a i {
      font-size: 40px;
      margin-top: -10px;
  }
  .footer-container{
      border: 1px solid black;
      margin-top: 20px;
      background: rgb(3,25,48);
      background: linear-gradient(90deg, rgb(12, 17, 229) 0%, rgb(10, 17, 246) 10%, rgb(15, 60, 241) 29%, rgb(18, 88, 238) 52%, rgba(54,132,219,1) 93%);
      padding: 20px;
      color: white;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
  }
  
  .footer-social .footer-img {
      display: inline;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 20px;
  }

  .footer-social .footer-img span {
      border: none;
  }

  .footer-contact .collapse,
  .footer-text .collapse,
  .footer-different .collapse {
      display: block !important;
  }

  .footer-contact .footer-img{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .menu {
      display: flex;
      align-items: center;
      flex-direction: row;
  }
  .logo img{
      width:auto;
      left: 30px;
  }
  .logo h3{
      display: none;
  }
  .nav{
      left: 130px;
  }
  .menu-container {
      display: grid;
      width: 73vw;
      grid-template-columns: repeat(2, 1fr);
      margin-left: 10vw;
  }
  .menu-search {
      width: 40%;
      left: 280px;
      top: 12px;
  }
  .menu-search span {
      margin-left: auto; 
  }
  .menu-search span i{
      width: 50px;
      left: auto;
  }
  .list-menu{
      gap: 2px;
      top: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 10px;
  }
  .list-menu li{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      
  }
  .list-menu li:hover{
      background:  rgba(255, 255, 255, 0.201);
      border-radius: 10px;
  }
  .list-menu li span{
      display: none;  
  }
  .list-menu li a i {
      font-size: 40px;
      margin-top: -10px;
  }
  .footer-container{
      border: 1px solid black;
      margin-top: 20px;
      background: rgb(3,25,48);
      background: linear-gradient(90deg, rgb(12, 17, 229) 0%, rgb(10, 17, 246) 10%, rgb(15, 60, 241) 29%, rgb(18, 88, 238) 52%, rgba(54,132,219,1) 93%);
      padding: 20px;
      color: white;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
  }
  
  .footer-social .footer-img {
      display: inline;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 20px;
  }

  .footer-social .footer-img span {
      border: none;
  }

  .footer-contact .collapse,
  .footer-text .collapse,
  .footer-different .collapse {
      display: block !important;
  }

  .footer-contact .footer-img{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px){
  .menu {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      position: relative;
      width: 100%;
  }
  .logo img{
      left: 20px;
      font-size: 1em;
  }
  .logo h3{
      display: none;
  }
  .nav{
      left:180px;
      padding: 0;
  }
  .menu-container {
      display: grid;
      margin-left:2vw;
      width: 92vw;
      grid-template-columns: repeat(2, 1fr);
      left: -170px;
  }
  .menu-child a{
      height: 50px;
      margin-top: -5px;
  }
  .menu-child a h4{
      font-size: 19px;
  }
  .menu-search .close {
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      cursor: pointer;
      
  }
  .menu-search.show .close{
      opacity: 1;
      visibility: visible; 
      left: -210px;
      display: block;
      position: absolute;
      font-size: 30px;
  }
  .menu-search.show ~ .nav,
  .menu-search.show ~ .logo,
  .menu-search.show ~ .list-menu {
      display: none; 
  }
  .menu-search .menu-input-search {
      position: absolute;
      display: none;
      opacity: 0;
      visibility: hidden;
      width: 100%;
  }
  .menu-search.show .menu-input-search {
      display: block;
      width: 100%;
      opacity: 1;
      visibility: visible;
      left: -530px;
  }
  .menu-search span i {
      border-radius: 0;
      background-color: transparent;
      border: none;
      left: -440px;
      font-size: 40px;
  }
  .menu-search.show span i {
      display: none;
  }
  .menu-search.show span i:hover + .close  {
      opacity: 1;
      visibility: visible;
  }
  .list-menu{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .list-menu li span  {
      display: none;  
  }
  .list-menu li{
      display: none;
  }
  .list-menu li:last-child {
      display: flex;
      margin-top: -40px;
  }
  .list-menu li:last-child a i{
      font-size: 2em;
      margin-right: -20px;
  }
  .slide-show {
      width: 90%;           
      overflow: hidden;  
      pointer-events: none;
      margin-top: -30px;
  }
  .list-images {
      display: flex;
      transition: transform 0.5s ease-in-out; 
      
  }
  .list-images a img {
      object-fit: cover;  
      display: block;
      width: 100%;        
      height: 100%; 
  }
  .footer-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
  }

  .footer-contact, .footer-text, .footer-different, .footer-social {
      flex: 1 1 100%;
      margin-bottom: 10px;
  }

  .footer-contact .collapse,
  .footer-text .collapse,
  .footer-different .collapse {
      display: none; 
  }

  .footer-contact button, 
  .footer-text button,
  .footer-different button {
      display: block; 
  }

  .footer-contact .collapse.show,
  .footer-text .collapse.show,
  .footer-different .collapse.show {
      display: block; 
  }

  .footer-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 10px;
  }

  .footer-container button i {
      opacity: 1;
      visibility: visible;
      position: absolute;
      right: 0px;
      padding-top: 10px;
  }

  .footer-container button {
      font-size: 21px;
      background-color: transparent;
      border: none;
      color: yellow;
      font-weight: 600;
      text-shadow: 2px 2px 10px black;
      margin-left: -11px;
      outline: none !important;
      box-shadow: none !important;
      pointer-events: all;
  }

  .footer-container button:focus,
  .footer-container button:active {
      outline: none !important;
      color: yellow;
      text-shadow: 2px 2px 10px black;
      background-color: transparent;
  }

  .footer-container button:hover {
      background-color: transparent  !important;
      color: yellow  !important; 
      text-shadow: 2px 2px 10px black;
  }

  .footer-text, .footer-different {
      text-align: left;
      width: 100%;
  }

  .footer-contact, .footer-social {
      width: 100%;
      margin-bottom: 15px;
  }

  .footer-bottom {
      width: 100%;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  .footer-social .footer-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-bottom: 10px;
  }

  .footer-contact .footer-img a img{
      margin-top: 10px;
  }

  .footer-contact .footer-img, .footer-social .footer-img {
      display: inline;
  }

  .footer-img a {
      padding-right: 2px;
  }

  .footer-img span {
      border: none;
  }
  .footer-text, .footer-different {
      text-align: left;
  }
}

